[submodule "u-boot"]
	path = u-boot
	url = git://git.denx.de/u-boot
	branch = master
[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
	branch = master
